.notifications {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 95vh;
    border-right: 1px solid black;
    
}

.noti-container {
    margin: 20px;
}

.noti-container:hover {
    cursor: pointer;
}
.noti {
    display: flex;
    width: 97%;
    height: 4rem;
    align-items: center;
    background-color: rgb(44, 42, 42);
    padding: .5rem;
    border-radius: 20px;
    border: 1px solid grey;
}

.noti-text {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



.right-side {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    justify-content: space-between;
    background-color: transparent;
    gap: 2rem;

}
.noti-img {
    padding: 1rem;
    width: 7%;
    height: 100%;
    background-color: transparent;
    object-fit: contain;
}

.extras {
    margin-left: 20px;
}

.no-notis {
    margin: 20px;
    font-weight: bold;
    font-size: 2rem;
}

.message-txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rec-holder {
    display: flex;
    flex-direction: column;
    border: 1px solid #3b82f6;
    height: fit-content;
    width: auto;
    border-radius: 20px;
    padding: 10px;
}

.userrec{
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid  hsla(0, 0%, 83%, 0.65);
    cursor: pointer;
    background-color: transparent;
}