.notifications {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    border-right: 1px solid black;
    
}

.noti-container {
    margin: 20px;
}

.noti-container:hover {
    cursor: pointer;
}
.noti {
    display: flex;
    width: 97%;
    height: 4rem;
    align-items: center;
    background-color: rgb(44, 42, 42);
    padding: .5rem;
    border-radius: 20px;
    border: 1px solid grey;
}

.noti-text {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex:1;
    min-width: 0;
}

.noti-text h3,
.noti-text p {
    white-space: nowrap;     
    overflow: hidden;           
    text-overflow: ellipsis;    
}



.right-side {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    justify-content: space-between;
    background-color: transparent;
    gap: 8px;
    flex-shrink: 0;
    align-items: flex-end;

}
.noti-img {
    padding: 1rem;
    width: 7%;
    height: 100%;
    background-color: transparent;
    object-fit: contain;
}

.extras {
    margin-left: 20px;
}

.no-notis {
    margin: 20px;
    font-weight: bold;
    font-size: 2rem;
}

.message-txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rec-holder {
    display: flex;
    flex-direction: column;
    border: 1px solid #3b82f6;
    height: fit-content;
    width: auto;
    border-radius: 20px;
    padding: 10px;
}

.userrec{
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid  hsla(0, 0%, 83%, 0.65);
    cursor: pointer;
    background-color: transparent;
    max-width: 500px;
}

.req-holder {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.user-holderreq {
    display: flex;
    gap: 10px;
    border: 1px solid #3b82f6;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(44, 42, 42);
    max-width: 500px;
    margin-bottom: 10px;
    
}

.pfp-holder {
    background-color: black;
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
}

.circbutton{
    display: flex;
    border-radius: 50%;
    height: 50px;
    width:50px;
    background-color: transparent;
    border: 1px solid grey;
    align-items: center;
    justify-content: center;
}

.circbutton2{
    display: flex;
    border-radius: 50%;
    height: 50px;
    width:50px;
    background-color: transparent;
    border: 1px solid grey;
    align-items: center;
    justify-content: center;
}

.circbutton:hover{
    background-color: rgba(0, 128, 0, 0.555);
    cursor: pointer;
}

.circbutton2:hover{
    background-color: rgba(255, 0, 0, 0.534);
    cursor: pointer;
}

.btn-section{
    display: flex;
    margin-left: auto;
    background-color: transparent;
    gap: 5px;
    flex-shrink: 0;
}

.desc-col{
    background-color: transparent;
    min-width: 0;
    overflow: hidden;
    flex: 1;
    text-overflow: ellipsis;
    max-width: 300px;
    white-space: nowrap;
}

.desc-col p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.symbol{
    object-fit: fill;
    width: 25px;
    height: 25px;
}

.reqimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.trashcan {
    height: 22px;
    width: 22px;
    align-self: center;
}

