.header-com {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    background-color: #2f2f2f;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-radius: 0 0 12px 12px;
}
.banner {
    height: 150px;
    width: 100%;
    background-color: #3f4b5b;
    border-radius: 0 0 12px 12px;
    
}
.comavatar {
    position: absolute;
    top: 90px;
    left: 30px;
    height: 120px;
    width: 120px;
    background-color: #1c1c1c;
    border: 4px solid #2f2f2f;
    border-radius: 1.5rem;
}

.comdetails {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
    margin-left: -.5rem;
}

.comdetails h2 {
    padding: 0;
    margin: 0;
    margin-top: -.1rem;
    font-size: 2.5rem;
}

.categorybox {
    padding: .3rem;
    margin: 0;
    margin-top: -.1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 20px;
    align-self: flex-start;
    justify-content: center;

}

.loading {
    font-size: 3rem;
    font-weight: bold;
}

.description-txt {
    font-size: 1rem;
    padding: 0;
}

.members-com {
    height: auto;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -1rem;
    margin-left: -.5rem;
    gap: 6px;
}
.members-com p {
    font-size: 1rem;
}

.memberimg {
    width: 75px;
    height: 75px;
    background-color: transparent;
    object-fit: contain;
}

.join-com {
    justify-content: center;
    margin-left: auto;
    color: white;
    background-color: #3b82f6;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
}

.leave-com {
    justify-content: center;
    margin-left: auto;
    color: white;
    background-color: red;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
}

.tabs {
    border-bottom: 1px solid #444;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

.tabs-s {
    flex: 1;
    padding: 12px;
    background-color: transparent;
    color: #aaaaaa;
    border: none;
    border-bottom: none;
    font-size: 1rem;
    cursor: pointer;
}

.tabs-sa {
    flex: 1;
    padding: 12px;
    background-color: transparent;
    color: #058BFE;
    border: none;
    border-bottom: 3px solid #058BFE;
    font-size: 1rem;
    cursor: pointer;
}

.editcomdesc {
    margin-top: -1rem;
    margin-bottom: .5rem;
    height: 80px;
    width: 50%;
    resize: none;
    border-radius: 20px;
    background-color: #444;
    color: white;
    padding: 10px;
}

.editingbtns {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 10px;
}

.save {
    background-color: #3b82f6;
    padding: 8px 15px;
    color:white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cancel {
    background-color: #777;
    padding: 8px 15px;
    color:white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.userBlock {
    display: flex;
    background-color: grey;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    gap: 5px;
    align-items: center;
    margin-left: 1rem;
}

.userBlock:hover {
    cursor: pointer;
}

.userCircle {
    margin: 0;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.user-m{
    justify-content: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 6px;
}

.displayBlock {
    font-size: 1.5rem;
    background-color: #1c1c1c;
    font-weight: bolder;
    border-radius: 10px;
    padding: 5px;
}

.memholder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}



.img-holder {
    display: flex;
    margin-left: auto;
    align-self: flex-start;
    background-color: transparent;
}

.dots {
    object-fit: contain;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.dots:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}

.popmenu {
    list-style: none;
    background-color: rgb(75, 69, 69);
    padding: 12px;
    border-radius: 20px;
    animation: fadeIn 0.8s ease forwards;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.popmenu li{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 8px
}

.popmenu-container {
    background-color: transparent;
}

.promote:hover{
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.418);
}

.kick:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.445);
}

.header-top {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    gap: 3rem;
}

.settings {
    width: 35px;
    height: 35px;
}

.settings:hover{
    cursor: pointer;
}

.overlay-rect {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    width: 90%;
    max-width: 500px;
    background-color: #2a2a2a;
}

.overlay-rect h2{
    margin: 0;
}

.updates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    font-size: 1rem;
    background-color: #1a1a1a;
    color: white;
    box-sizing: border-box;
}

.input-name::placeholder {
    color: white;
}

.update{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4x;
    background-color: #0066cc;
    color: white;
}

.update:hover{
    cursor: pointer;
    background-color: #1e4d7c;
}

.cancel-overlay {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4x;
    background-color: #666;
    color: white;
}

.cancel-overlay:hover{
    cursor: pointer;
    background-color: #444242;
}

.delete-com {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: red;
}

.delete-com:hover {
    cursor: pointer;
    background-color: darkred;

}

.com-posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: center;
}

.Profile-Media-Edit{
    margin-bottom: 20px;
}