.exploreMain {
    background-color: #373737;
    top: 65px;
    left: 256px; /* Account for navbar */
    right: 0;
    z-index: 999;
    height: calc(100% - 65px);
    width: calc(100% - 16rem); /* Full width minus navbar */
    position: fixed;
    overflow-y: auto;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    
}

.backimg {
    height: 2rem;
    width: 2rem;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}


.headertxt {
    font-size: 1.5rem;
    margin: 0;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    align-self: center;
    display: flex;
    align-items: center;
    height: 3.3rem;
    width: 60vw;
    background-color: white;
    border-radius: 100px;
}

.categories {
    display: flex;
    flex-direction: column;
    margin-left: 1.7rem;
}
.rowbox {
    margin-top: .7rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.categories button {
    margin-right: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;       
    padding: 0.75rem 1.5rem;
    background-color: rgba(49, 47, 47, 0.685);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    line-height: 1;            
    height: auto;        
    border: 2px solid transparent;      
}

.allComs {
    margin-left: 1.7rem;
}

.allContainer {
    display: flex;
    flex-direction: column;
}

.communityBlock {
    display: flex;
    align-items: stretch;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 7.8rem;
    border-radius: 30px;
    padding: 10px;
    background-color: #5f5c5c;
}

.emptyBox {
    background-color: rgb(70, 70, 73);
    height: auto;
    width: 6.5rem;
    margin: .3rem;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    background-color: transparent;
    align-items: center;
}

.joinbtn {
    align-self: center;
    border-radius: 10px;
    background-color: #3b82f6;
    color: white;
    margin: 0%;
    height: 50px;
    width: 100px;
    font-size: 15px;
    border: none;
}

.comName {
    font-weight: bold;
    font-size: 1.5rem;
    color:  #3b82f6;
    margin: 0;
}


