.exploreMain {
    background-color: #373737;
    top: 65px;
    left: 256px; /* Account for navbar */
    right: 0;
    z-index: 999;
    height: calc(100% - 65px);
    width: calc(100% - 16rem); /* Full width minus navbar */
    position: fixed;
    overflow-y: auto;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin: 0;
    margin-bottom: 1rem;
    
}

.backimg {
    height: 2rem;
    width: 2rem;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}


.headertxt {
    font-size: 1.5rem;
    margin: 0;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    align-self: center;
    display: flex;
    align-items: center;
    height: 3.3rem;
    width: 60vw;
    background-color: white;
    border-radius: 100px;
}

.categories {
    display: flex;
    flex-direction: column;
    margin-left: 1.7rem;
}
.rowbox {
    margin-top: .7rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.catbutton {
    margin-right: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;       
    padding: 0.75rem 1.5rem;
    background-color: rgba(49, 47, 47, 0.685);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    line-height: 1;            
    height: auto;        
    border: 2px solid transparent;      
}

.buttonSelected {
    margin-right: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;       
    padding: 0.75rem 1.5rem;
    background-color: rgba(49, 47, 47, 0.685);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    line-height: 1;            
    height: auto;        
    border: 2px solid white;      
}

.allComs {
    margin-left: 1.7rem;
}

.allContainer {
    display: flex;
    flex-direction: column;
}

.communityBlock {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 7.1rem;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(44, 42, 42);
    gap: 10px;
}

.emptyBox {
    background-color: rgb(70, 70, 73);
    height: 100px;
    width: 6.5rem;
    margin: .3rem;
    border-radius: 10px;
}

.emptyBox img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container .comName{
    color: #3b82f6
}


.right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    flex-shrink: 0;
}

.joinbtn {
    align-self: center;
    border-radius: 10px;
    background-color: #3b82f6;
    color: white;
    margin: 0%;
    height: 50px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.joinbtn:hover {
      background-color: #0c5bda;
}

.leavebtn {
    align-self: center;
    border-radius: 10px;
    background-color: rgb(70, 70, 73);
    color: white;
    margin: 0%;
    height: 50px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid white;
}

.leavebtn:hover {
    background-color: rgba(70, 70, 73, 0.247);
    cursor: pointer;
}

.comName {
    overflow: hidden;
    font-weight: bold;
    font-size: 1.5rem;
    color:  #3b82f6;
    margin: 0;
}

.comName:hover{
    cursor: pointer;
    text-decoration: underline;
}

.com-cat{
    padding: .3rem;
    margin: 0;
    margin-top: -.1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 20px;
    align-self: flex-start;
    justify-content: center;
}

/* Styles for user communities page*/
.explainMyComs {
    margin: 0;
    margin-left: 1.3rem;
    font-size: 1.5rem;
}

.headertxt2{
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.mycomholder {
    margin-left: 1.3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.mycomblock {
    position: relative;
    min-width: auto;
    min-height: auto;
    max-width: 25%;
    max-height: 25%;
    min-height: 250px;
    background-color: rgb(48, 45, 45);
    padding: .5rem;
    border-radius: 20px;
}

.emptybox {
    flex: 1;
    width: 100%;
    height: 130px;
    min-height: 100px;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: grey;
    border-radius: 10px;
}

.emptybox img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.emptybox2 {
    flex: 1;
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #1c1c1c;
    top: 85px;
    left: 25px;
    border-radius: 20px;
    border: 5px solid rgb(48, 45, 45);
}

.emptybox2 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}



.mytitle {
    flex: 1;
    margin-bottom: 0;
    margin-left: -17px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btnrow {
    display: flex;
    flex: 1;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    justify-content: right;
    flex-wrap: wrap;
}

.newbtn{
    border: 2px solid transparent;
    background-color: rgb(70, 70, 73);
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.newbtn:hover{
    cursor: pointer;
    border: 2px solid white;
}

.newbtn2{
    border: none;
    background-color:red;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.newbtn2:hover{
    cursor: pointer;
    background-color: darkred;
}


